@import "~bootstrap/scss/bootstrap";

$font-stack: "Gangster", sans-serif;
$parallax-perspective: 1 !default;
$parallax-element: "body" !default;
$parallax-ios: true !default;
$background-color-dark: #1f1f1f;
$background-color-light: #ffffff;

@font-face {
  font-family: "Gangster";
  src: local("Gangster"), url(./assets/gangstergrotesk-bold.woff) format("woff");
}
@mixin parallax-init(
  $perspective: $parallax-perspective,
  $element: $parallax-element,
  $parallax-ios: $parallax-ios
) {
  @if $element == "body" {
    html,
    body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
  }
  #{$element} {
    overflow: auto;
    perspective: $perspective * 1px;
    transform-style: preserve-3d;
    // Allows for smooth scrolling but disables parallax effects.
    @if $parallax-ios == false {
      -webkit-overflow-scrolling: touch;
    }
    // Preserve 3D
    &,
    * {
      transform-style: preserve-3d;
    }
  }
}

@mixin parallax($distance: 0, $perspective: $parallax-perspective) {
  transform: translateZ($distance * $perspective * 1px);
  //   scale(abs($distance - 1));
  z-index: $distance * 1000;
}

@include parallax-init;

body.dark-mode {
  font: 100% $font-stack;
  background-color: $background-color-light;
  color: $background-color-dark;
  a {
    color: black;
    font-weight: 500;
  }
  a:hover {
    color: black;
  }
  .modeIcon {
    background-image: url(assets/moon.svg);
  }
  .black-container {
    background-color: #ffffff;
  }
}

body {
  font: 100% $font-stack;
  background-color: $background-color-dark;
  color: $background-color-light;
  a {
    color: white;
    font-weight: 700;
  }
  a:hover {
    color: white;
  }
  .modeIcon {
    background-image: url(assets/sun.svg);
  }
  .row {
    margin-bottom: 15px;
  }
  .black-container {
    background-color: #1f1f1f;
  }
}

.black-container {
  position: absolute;
  top: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
}

html {
  font-size: 18px;
}

.spacer {
  padding-top: 5rem;
}

.hiddenDiv {
  display: none;
}

.center {
  text-align: center;
}

.full-width {
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.hide {
  display: none;
}

.myDIV:hover + .hide {
  display: block;
}

.accordion-lines {
  padding-top: 2em;
  padding-bottom: 2rem;
}

.grid1 {
  display: grid;
  padding-top: 2rem;
  padding-bottom: 2rem;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(12, 100px);
}

.mainContainer {
  position: relative;
  width: 100%;
  mix-blend-mode: luminosity;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 3rem;
  height: 500px;
}

.mainImg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-size: cover;
}

.pageMainImg {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.parallaxSlow {
  @include parallax(0.09);
}

.parallaxFast {
  @include parallax(0.15);
}

//5 cols, 10 rows

.stats {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.container-slide {
  visibility: hidden;
}

.img-container {
  position: relative;
  overflow: hidden;
}

p {
  line-height: 1.7rem;
  font-family: sans-serif;
}

.p-small {
  font-size: 12px;
}

.absolute {
  position: absolute;
  word-break: break-word;
}

.largeText {
  color: white;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
  font-size: 5rem;
}

.textTop {
  position: absolute;
  top: 0;
}
.textBottom {
  position: absolute;
  bottom: 0;
}

.image-col {
  padding: 2rem;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
}
h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.inlineImg {
  max-width: 50px;
}

.crop-image {
  width: 90%;
  height: 70%;
  top: 15%;
  left: 5%;
}

.mainIcon {
  width: 50px;
  height: 50px;
}

.header {
  padding-top: 20px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 5rem;
    font-weight: 500;
  }
  h2 {
    font-size: 3rem;
    font-weight: 500;
  }
  .largeText {
    font-size: 7rem;
  }
  .inlineImg {
    max-width: 100px;
  }
  .crop-image {
    width: 70%;
    height: 70%;
    top: 15%;
    left: 15%;
  }
  .mainContainer {
    height: 700px;
  }
  .mainIcon {
    width: 100px;
    height: 100px;
  }
}
